<app-header [returnBack]="true" title="Historial" />
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="p-2 bg-[#222] rounded-b-xl mb-6 sticky top-0 z-67">
    <ion-searchbar mode="ios" placeholder="Buscar Partido..."></ion-searchbar>
  </div>
  <div>
    <ion-accordion-group [multiple]="true">
      @for (match of historialPartidos; track match.id) {
      <ion-accordion [value]="match.id" class="mb-2">
        <ion-item slot="header">
          <ion-label>{{match.localTeam.name}} {{match.localTeamGoals}} vs {{match.visitorTeam.name}}
            {{match.visitorTeamGoals}}: {{match.date | date:'dd/MM/yyyy'}}</ion-label>
        </ion-item>
        <ion-item slot="content" class="px-1 text-white/67">
          <div class="w-full flex flex-col sm:flex-row gap-5 sm:items-center sm:justify-between">
            <div>
              <ion-label>{{match.localTeam.name}}: {{match.localTeamGoals}} vs {{match.visitorTeam.name}}:
                {{match.visitorTeamGoals}}</ion-label>
              <ion-label>Fecha: <span class="tracking-widest">{{match.date | date:'HH:mm:ss - dd/MM/yyyy'}}</span>
              </ion-label>
            </div>
            <div class="m-auto pb-3 pt-0.5 sm:m-0">
              <ion-button size="default" shape="round" (click)="simularEncuentro(match.id)">Revivir Encuentro</ion-button>
            </div>
          </div>
        </ion-item>
      </ion-accordion>
      }
    </ion-accordion-group>
  </div>
</ion-content>
