<app-header />
<ion-content [fullscreen]="true" class="ion-padding">


  <ion-grid class="py-0.5">
    <ion-row class="pb-2.5 justify-between gap-6 md:gap-0">
      <ion-col size="12" sizeMd="7.9">
        <ion-card routerLink="/partidoonline">
          <div class="relative aspect-video w-full h-full max-h-70 flex items-center justify-center bg-amber-200">
            <div class="flex justify-between items-center w-[90%] max-w-200 md:text-lg">
              <div class="w-16 flex justify-center">Local</div>
              <div class="w-16 flex justify-center">VS</div>
              <div class="w-16 flex justify-center">Visitante</div>
            </div>
          </div>

          <ion-card-header class="py-2 pl-4">
            <div class="flex justify-between items-start">
              <div>
                <ion-card-title class="text-2xl font-bold tracking-tight">
                  Próximo encuentro
                </ion-card-title>
                <ion-card-subtitle class="mt-0.5 uppercase">
                  Encuentro contra
                </ion-card-subtitle>
              </div>

            </div>
          </ion-card-header>

          <ion-card-content>
            Disfruta de tu próxima encuentro ¡Buena suerte y a por todas, recuerda que esto es futbol al rojo vivo!
          </ion-card-content>

          <ion-button fill="clear" color="secondary">¡Jugar Ahora!</ion-button>

        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4" class="mb-4 md:mb-1">
        <ion-card routerLink="/mercado">
          <img alt="Foto Mercado" src="assets/img/mercado.webp" class="md:h-[14.8vw] w-full" />
          <ion-card-header class="py-2 pl-4">
            <div class="flex justify-between items-start">
              <div>
                <ion-card-title class="font-bold">
                  Mercado
                </ion-card-title>
                <ion-card-subtitle>
                  Mercado de fichajes
                </ion-card-subtitle>
              </div>

            </div>
          </ion-card-header>

          <ion-card-content>
            Disfruta de tu próxima encuentro
          </ion-card-content>

          <ion-button fill="clear" color="secondary">¡Jugar Ahora!</ion-button>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="justify-between gap-6 md:gap-0">
      <ion-col size="12" size-md="3.92">
        <ion-card routerLink="/torneo" class="animate-saltos-hover active:scale-90 duration-75">
          <img alt="Prueba Partido" src="assets/img/jugar.webp" class="md:h-[18vw]" />
          <ion-card-header class="p-2">
            <ion-card-title>Torneo</ion-card-title>
            <ion-card-subtitle>Torneo de 3 partidos</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Aquí te batiras en duelos de 1 contra 1 empezando desde cuartos, con varias recompensas.
          </ion-card-content>
          <ion-button fill="clear">Jugar ahora</ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="3.92">
        <ion-card routerLink="/ligas">
          <img alt="Menu Historial" src="assets/img/ligas.webp" class="md:h-[18vw] w-full" />
          <ion-card-header class="p-2">
            <ion-card-title>Ligas</ion-card-title>
            <ion-card-subtitle>Unirse a Ligas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Unase a ligas, juegue encuentros y mire como sube su posición.
          </ion-card-content>
          <ion-button fill="clear" color="secondary">Ver Historial</ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="3.9">
        <ion-card routerLink="/equipo">
          <img alt="Menu Equipo" src="assets/img/equipo.webp" class="md:h-[18vw]" />
          <ion-card-header class="p-2">
            <ion-card-title>Gestionar Equipo</ion-card-title>
            <ion-card-subtitle>Equipo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Gestiona tu propio equipo y llévalo a la gloria en la Champions.
          </ion-card-content>
          <ion-button fill="clear" color="secondary">Gestionar equipo</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" class="ion-margin-top">
    <ion-list-header>
      <ion-label>Otras Categorías</ion-label>
    </ion-list-header>
    <ion-item button>
      <ion-label routerLink="/historial">Historial</ion-label>
    </ion-item>
        <ion-item button>
      <ion-label routerLink="/partidoonline">Amistosos</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
