<ion-content [fullscreen]="true" class="ion-padding image">
  <div class="login-container">

    <div class="header-section ion-text-center">
      <h1 class="Raleway-bold">
        <span class="animate-saltitos-hover cursor-grab span">T</span>
        <span class="animate-mini-saltitos-hover cursor-grab">i</span>
        <span class="animate-mini-saltitos-hover cursor-grab">l</span>
        <span class="animate-mini-saltitos-hover cursor-grab">i</span>
        <span class="animate-saltitos-hover cursor-grab span">M</span>
        <span class="animate-mini-saltitos-hover cursor-grab">a</span>
        <span class="animate-mini-saltitos-hover cursor-grab">n</span>
        <span class="animate-mini-saltitos-hover cursor-grab">a</span>
        <span class="animate-mini-saltitos-hover cursor-grab">g</span>
        <span class="animate-mini-saltitos-hover cursor-grab">e</span>
        <span class="animate-mini-saltitos-hover cursor-grab">r</span>
      </h1>
      <h2>Iniciar sesión </h2>
    </div>

    <form class="form-section mt-3" method="post" [formGroup]="loginForm" (ngSubmit)="onLogin()">

      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <div class="mt-1.5 flex w-fit items-start gap-2 px-3 sm:py-2 py-1.5 text-sm bg-rose-50 border-l-4 border-rose-500 rounded-r-lg shadow-sm transition-all duration-200 ease-in-out">
          <ion-icon src="assets/icon/svg/alert-circle-outline.svg" class="text-rose-600 text-base mt-0.5 shrink-0 animate-pulse">
          </ion-icon>
          
          <span class="text-rose-800 font-medium leading-tight">
            @if (loginForm.get('email')?.hasError('required')) {
              El correo electrónico es obligatorio.
            } @else if (loginForm.get('email')?.hasError('email')) {
              Ingresa un correo válido (ejemplo@email.com).
            }
          </span>
        </div>
      }
      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Correo Electrónico" label-placement="floating" type="email"
                  placeholder="ejemplo@email.com" class="min-h-15" formControlName="email" name="email" required>
        </ion-input>
      </ion-item>

      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Contraseña" label-placement="floating" type="password"
                  placeholder="********" class="min-h-15" formControlName="password" name="password" required>
        </ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" shape="round" class="h-10.5 mx-5 mt-8" [disabled]="!loginForm.valid">ENTRAR</ion-button>

      <!-- <ion-note *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" color="danger">
        El formato del correo no es válido.
      </ion-note> -->
      
    </form>

    <div class="ion-text-center mt-12">
      <a routerLink="/forgot-password" class="forgot-link text-[1rem] pt-3 cursor-pointer">¿Olvidaste tu contraseña?</a>
    </div>
    <div class="text-[1.1rem] ion-text-center mt-2">
      <p class="pl-5">¿No tienes cuenta? <a (click)="goToRegister()" class="pr-5 pb-2 cursor-pointer">Regístrate</a></p>
    </div>
    <img src="assets/img/TiliManager1.png" alt="Volver, es el Logo de TiliManager" loading="eager" 
    (click)="goToHome()" class="w-22 h-fit m-auto mt-19 mb-0 rounded-full cursor-pointer animate-saltitos-hover active:scale-90 duration-75">

  </div>
</ion-content>
