// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

a:hover{
    text-decoration: underline;
}

.input-label-placement-stacked.sc-ion-input-md-h input.sc-ion-input-md, .input-label-placement-floating.sc-ion-input-md-h input.sc-ion-input-md{
    margin-top: 5px !important;
}