<ion-content [fullscreen]="true" class="ion-padding image">
  <div class="register-container">

    <div class="header-section ion-text-center">
      <h1 class="Raleway-bold">
        <span class="animate-saltitos-hover cursor-grab span">T</span>
        <span class="animate-mini-saltitos-hover cursor-grab">i</span>
        <span class="animate-mini-saltitos-hover cursor-grab">l</span>
        <span class="animate-mini-saltitos-hover cursor-grab">i</span>
        <span class="animate-saltitos-hover cursor-grab span">M</span>
        <span class="animate-mini-saltitos-hover cursor-grab">a</span>
        <span class="animate-mini-saltitos-hover cursor-grab">n</span>
        <span class="animate-mini-saltitos-hover cursor-grab">a</span>
        <span class="animate-mini-saltitos-hover cursor-grab">g</span>
        <span class="animate-mini-saltitos-hover cursor-grab">e</span>
        <span class="animate-mini-saltitos-hover cursor-grab">r</span>
      </h1>
      <h2>Registro</h2>
    </div>

    <form class="form-section mt-3" method="post" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      @if (submited ) {
        <div class="flex items-center gap-3 w-fit p-3 my-1.5 bg-black/40 border-l-3 border-cyan-400 rounded-r-xl">
          <ion-icon src="assets/icon/svg/alert-circle-outline.svg" class="text-cyan-400 scale-133 shrink-0"/>
          <span class="text-[#ffffff] font-semibold">
            @if (registered) {
              ¡Usuario creado correctamente!
            } @else if (emailCreated) {
              Ya hay una cuenta asociada a ese <strong>correo electrónico</strong>
            } @else if (usernameCreated) {
              Ya hay una cuenta asociada a ese <strong>nombre de usuario</strong>
            } @else if (!registered) {
              No es posible crear el usuario
            } @else {Ha habido un error}
          </span>
        </div>
      }
      @if ((registerForm.get('username')?.invalid && registerForm.get('username')?.touched) || 
      (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) || 
      (registerForm.get('password')?.invalid && registerForm.get('password')?.touched)) {
        <div class="flex items-center gap-3 w-fit p-3 my-1.5 bg-black/40 border-l-3 border-cyan-400 rounded-r-xl">
          <ion-icon src="assets/icon/svg/alert-circle-outline.svg" class="text-[#f24c58] scale-133 shrink-0"/>
          <span class="text-[#d84e57] font-semibold">
            @if (registerForm.get('username')?.hasError('pattern') || registerForm.get('username')?.hasError('required')) {
              Ingresa un nombre de usuario válido (Caracteres: [a-zA-Z0-9._+-]).
            }@else if (registerForm.get('username')?.hasError('minlength')) {
              El nombre de usuario ha de tener 3 caracteres como mínimo.
            } @else if (registerForm.get('username')?.hasError('maxlength')) {
              El nombre de usuario ha de tener 16 caracteres como máximo.
            } @else if (registerForm.get('email')?.hasError('email') || registerForm.get('email')?.hasError('required')) {
              Ingresa un correo válido (ejemplo@email.com).
            } @else if (registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('required')) {
              La contraseña, como mínimo, ha de tener 6 caracteres.
            }
          </span>
        </div>
      }

      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Nombre de usuario" label-placement="floating" type="text" placeholder="User1234..."
                   class="min-h-15 h-17" formControlName="username" name="username" id="username" required>
        </ion-input>
      </ion-item>

      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Correo Electrónico" label-placement="floating" type="email" placeholder="ejemplo@email.com"
                   class="min-h-15 h-17" formControlName="email" name="email" id="email" required>
        </ion-input>
      </ion-item>

      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Contraseña" label-placement="floating" type="password" placeholder="********"
                   class="min-h-15 h-17" formControlName="password" name="password" id="password" required>
                   @if (registerForm.get('password')?.dirty) {
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                  }
        </ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" shape="round" class="h-10.5 mx-5 mt-8" [disabled]="registerForm.invalid">REGISTRAR</ion-button>
      
    </form>

    <div class="text-[1.1rem] ion-text-center mt-12">
      <p class="pl-5">¿Tienes cuenta? <a (click)="goToLogin()" class="pr-5 pb-2 cursor-pointer">Inicia sesión</a></p>
    </div>
    <img src="assets/img/TiliManager1.png" alt="Volver, es el Logo de TiliManager" loading="eager" 
    (click)="goToHome()" class="w-22 h-fit m-auto mt-19 mb-0 rounded-full cursor-pointer animate-saltitos-hover active:scale-90 duration-75">

  </div>
</ion-content>
