.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 433px;
  height: 100%;
  margin: 0 auto;

  @media (max-height: 778px) {
    justify-content: flex-start;
  }
}

.image{
  background-image: url("/assets/img/Complex-Les-Oliveres.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ion-content{
  --background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.97));
}

.header-section {
  margin-bottom: 40px;
  h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-top: 10px;
  }
  h2 {
    color: var(--ion-color-medium);
  }
}

ion-item {
  --border-radius: 12px;
  --background: #1e1e1e; 
  --color: white;
}

ion-input {
  --inner-border-width: 0 0 1px 0;

}

ion-label {
  --padding-top: 5px;
  --padding-bottom: 15px;
  --inner-border-width: 0 0 1px 0;
  --label-font-size: 18px;
}

ion-button {
  font-weight: bold;
  font-size: 1.15rem;
}

.span{
  color: #08c0d9;
  font-weight: 800;
}
