<ion-content [fullscreen]="true" class="flex max-w-[97%] ion-padding self-center justify-center">
  <div class="absolute text-6xl md:text-7xl text-[#08c0d9] cursor-pointer hover:scale-105 active:scale-67 duration-150" (click)="goToHome()"><-</div>
  <div class="w-full h-full flex flex-col items-center">
    <div class="text-5xl mb-5">{{tiempo}}</div>
      @if (errorCode) {
        <div class="flex items-center gap-3 w-fit p-3 my-3.5 bg-black/40 border-l-3 border-[#f24c58] rounded-r-xl">
          <span class="text-[#ffffff] font-semibold">
            Ha ocurrido un error ejecutando el código
          </span>
        </div>
      }
    <div class="h-[90%] max-h[90%] w-full md:w-[67%] justify-items-center p-3 rounded-2xl text-amber-50 bg-[#0c3f42] overflow-y-auto">
      @for (e of emulacion; track e.minuto) {
        @if (tiempo >= e.minuto) {
          <div class="text-amber-50">
          Minuto: {{e.minuto}} ---
          {{e.sucede}}
          </div>
        }
      } @empty {
        No hay elementos disponibles.
      }
    </div>
    <div class="self-center mt-3 mb-5">
      <ion-button expand="block" shape="round" (click)="codigo()" [disabled]="enEjecucion">Simular Partido</ion-button>
      <!-- <ion-button (click)="reload()" color="danger">Acabar Simulación</ion-button> De momento, no usar, a este ritmo, no usar a secas -->
    </div>
  </div>
</ion-content>