<app-header [returnBack]="true" title="{{ league().name }}"/>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <div class="w-full m-auto justify-between mt-2 mb-6 flex flex-col sm:flex-row gap-4 sm:items-baseline xl:items-center">
      <div>
        <h1 class="text-3xl font-bold tracking-tight">Liga: {{ league().name }}</h1>
        <p class="text-sm text-gray-300">Organizada por: {{ league().owner.name }}</p>
      </div>
      <div class="flex flex-row items-baseline h-full gap-6">
        @if (owner().email == league().owner.email) {
          <div class="items-center">
            <ion-button color="danger" (click)="alerta = true;">Eliminar Equipo de la liga</ion-button>
          </div>
        }
        <div class="">
          <span class="block text-xs text-gray-400 uppercase font-bold">Equipos</span>
          <span class="text-xl font-black text-gray-200">{{league().teams.length}}/20</span>
        </div>
        <div class="">
          <span class="block text-xs text-gray-400 uppercase font-bold">Estado</span>
          <span class="text-xl font-black text-gray-200">{{league().closed ? "Privada" : "Pública"}}</span>
        </div>
      </div>
    </div>
    <div class="divide-y divide-[#333] w-full h-1"></div>

    <ion-grid class="py-0.5">
      <ion-row class="pb-2.5 justify-between gap-6 md:gap-2 flex">
        <ion-col size="12" sizeLg="5.73">
          <ion-card (click)="jugarPartido()" class="w-full h-full animate-saltos-hover active:scale-97 duration-75 cursor-pointer m-0">
            <img alt="Foto Liga" src="assets/img/foton.webp" class="lg:h-[18vw] w-full object-cover object-center" />
            <ion-card-header class="py-2 pl-4">
              <div class="flex">
                <div>
                  <ion-card-title class="text-2xl font-bold tracking-tight">
                    ¡Jugar Próximo Partido!
                  </ion-card-title>
                  <ion-card-subtitle class="mt-0.5 uppercase">
                    Siguiente Encuentro
                  </ion-card-subtitle>
                </div>
              </div>
            </ion-card-header>

            <ion-card-content>
              Disfruta de tu próximo encuentro ¡Buena suerte y a por todas, recuerda que esto es fútbol al rojo vivo!
            </ion-card-content>

            <ion-button fill="clear" color="primary">¡Jugar Ahora!</ion-button>
          </ion-card>
        </ion-col>
        
        <ion-col size="12" sizeLg="3.61">
          <ion-card class="m-0 h-full" routerLink="/clasificacion/{{id}}">
            <ion-card-header class="py-3 px-4 border-b border-[#333]">
              <ion-card-title class="text-xl font-bold flex items-center gap-2">
                Clasificación
              </ion-card-title>
              <ion-card-subtitle>Tabla general de posiciones</ion-card-subtitle>
            </ion-card-header>
            
            <ion-card-content class="p-0">
              <div class="overflow-x-auto">
                <table class="w-full text-sm text-left whitespace-nowrap">
                  <thead class="text-xs uppercase bg-[#252525] text-gray-300">
                    <tr>
                      <th class="px-4 py-3 text-center">Pos</th>
                      <th class="px-4 py-3">Equipo</th>
                      <th class="px-4 py-3 text-center font-bold">PTS</th>
                      <th class="px-4 py-3 text-center">V</th>
                      <th class="px-4 py-3 text-center">E</th>
                      <th class="px-4 py-3 text-center">D</th>
                      <th class="px-4 py-3 text-center">PJ</th>
                      <th class="px-4 py-3 text-center">GF</th>
                      <th class="px-4 py-3 text-center">GC</th>
                      <th class="px-4 py-3 text-center">DIF</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-[#333]">
                    @for (team of league().teams; track team.team.name; let i = $index) {
                      <tr class="">
                        <td class="px-4 py-3 text-center font-bold" [class.text-[var(--ion-color-primary)]]="i === 0">{{ i + 1 }}</td>
                        <td class="px-4 py-3 font-medium truncate text-gray-200">{{ team.team.name || 'Equipo' }}</td>
                        <td class="px-4 py-3 text-center font-bold text-(--ion-color-primary)">{{ calcularPuntos(team) }}</td>
                        <td class="px-4 py-3 text-center text-gray-200">{{ team.wins }}</td>
                        <td class="px-4 py-3 text-center">{{ team.draws }}</td>
                        <td class="px-4 py-3 text-center opacity-67">{{ team.losses }}</td>
                        <td class="px-4 py-3 text-center text-gray-300">{{ team.wins + team.draws +team.losses }}</td>
                        <td class="px-4 py-3 text-center text-gray-200">{{ team.goalsScored }}</td>
                        <td class="px-4 py-3 text-center">{{ team.goalsReceived }}</td>
                            @if (team.goalsScored > team.goalsReceived) {
                              <td class="px-4 py-3 text-center font-medium text-green-400" >{{ diferenciaGoles(team.goalsScored, team.goalsReceived) }}</td>
                            }
                            @else if (team.goalsScored < team.goalsReceived) {
                              <td class="px-4 py-3 text-center font-medium text-red-400" >{{ diferenciaGoles(team.goalsScored, team.goalsReceived) }}</td>
                            }
                            @else {
                              <td class="px-4 py-3 text-center font-medium" >{{ diferenciaGoles(team.goalsScored, team.goalsReceived) }}</td>
                            }
                      </tr>
                    } @empty {
                      <tr>
                        <td colspan="9" class="px-4 py-8 text-center opacity-50">No hay equipos en esta liga.</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" sizeLg="2.46">
          <ion-card class="m-0 h-full w-full" routerLink="/clasificacion/{{id}}">
            <ion-card-header class="px-4 py-2 border-b border-[#333]">
              <ion-card-title class="text-xl font-bold flex items-center gap-2">Pichichi</ion-card-title>
              <ion-card-subtitle>Máximos goleadores de la liga</ion-card-subtitle>
            </ion-card-header>
            
            <ion-card-content class="p-0">
              <div class="overflow-x-auto">
                <table class="w-full text-sm text-left whitespace-nowrap">
                  <thead class="text-xs uppercase bg-[#252525] text-gray-300">
                    <tr>
                      <th class="px-4 py-3 text-center w-12">Pos</th>
                      <th class="px-4 py-3">Jugador</th>
                      <th class="px-4 py-3">Equipo</th>
                      <th class="px-4 py-3 text-center text-(--ion-color-primary) font-bold">Goles</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-[#333]">
                    @for (player of jugadores; track player.id; let i = $index) {
                      <tr>
                        <td class="px-4 py-3 text-center font-bold" [class.text-[var(--ion-color-primary)]]="i === 0">{{ i + 1 }}</td>
                        <td class="px-4 py-3 font-medium">{{ player.player.name }}</td>
                        <td class="px-4 py-3 opacity-70">{{ equipoJugador(player.teamId) }}</td>
                        <td class="px-4 py-3 text-center font-bold text-(--ion-color-primary) text-lg">{{ player.goles }}</td>
                      </tr>
                    } @empty {
                      <tr>
                        <td colspan="4" class="px-4 py-8 text-center opacity-50">Aún no hay goleadores registrados.</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
      <ion-row class="mt-2 justify-between gap-6 md:gap-0">
        <ion-col size="12" size-md="3.92">
          <ion-card routerLink="/torneo" class="animate-saltos-hover active:scale-90 duration-75">
            <img alt="Prueba Partido" src="assets/img/jugar.webp" class="md:h-[18vw]" />
            <ion-card-header class="p-2">
              <ion-card-title>Torneo</ion-card-title>
              <ion-card-subtitle>Torneo </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Aquí te batiras en duelos de 1 contra 1, contra un BOT de torneo, con varias recompensas.
            </ion-card-content>
            <ion-button fill="clear">Jugar ahora</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="3.92">
          <ion-card routerLink="/mercado/{{id}}">
            <img alt="Menu Mercado" src="assets/img/mercado.webp" class="md:h-[18vw] w-full" />
            <ion-card-header class="p-2">
              <ion-card-title>Mercado</ion-card-title>
              <ion-card-subtitle>Mercado de fichajes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Compre sus jugadores al mejor precio y forme el mejor equipo.
            </ion-card-content>
            <ion-button fill="clear" color="secondary">Comprar</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="3.9">
          <ion-card routerLink="/equipo/{{id}}">
            <img alt="Menu Equipo" src="assets/img/equipo.webp" class="md:h-[18vw]" />
            <ion-card-header class="p-2">
              <ion-card-title>Gestionar Equipo</ion-card-title>
              <ion-card-subtitle>Equipo</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Gestiona tu propio equipo y cambia la alineación.
            </ion-card-content>
            <ion-button fill="clear" color="secondary">Gestionar equipo</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

<ion-modal [isOpen]="alerta" (didDismiss)="alerta = false">
  <ng-template>
    <div class="flex flex-col h-full bg-[#1e1e1e] p-4 border border-white/10">
      
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-xl text-white font-bold">Equipos para borrar en la Liga</h2>
        <ion-button (click)="alerta = false" fill="clear" color="medium"/>
      </div>

      <div class="overflow-y-auto flex-1 pr-2 space-y-3">
        @for (leagueTeam of league().teams; track leagueTeam.id) {
          @if (leagueTeam.team.owner.email != owner().email) {
          <div class="flex items-center justify-between p-3 bg-[#252525] rounded-xl border border-[#676767] transition-all">
            
            <div class="flex items-center gap-3">
              <span class="text-white font-medium">{{ leagueTeam.team.name }}</span>
            </div>

            <ion-button 
              (click)="onEliminateTeam(leagueTeam.id)" 
              color="danger" 
              size="small" 
              shape="round">
              Eliminar
            </ion-button>
          </div>
          } 
        }@empty {
          <div class="text-center py-10">
            <p class="text-gray-500">No quedan equipos en esta liga.</p>
          </div>
        }
      </div>

      <div class="mt-4 pt-2 border-t border-white/10">
        <ion-button (click)="alerta = false" expand="block" fill="clear">
          Cerrar Panel
        </ion-button>
      </div>

    </div>
  </ng-template>
</ion-modal>
  
</ion-content>