.porfuera{
    text-shadow: 
    -1px 0px 0 #000,  
     1px 0px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.burro{
  font: 1.2em sans-serif;
  font-weight: 600;
}

.burro2{
  font: 2.2em sans-serif;
  font-weight: 600;
}