<ion-content [fullscreen]="true" class="ion-padding image">
  <div class="register-container">

    <div class="header-section ion-text-center">
      <h1 class="Raleway-bold"><span class="animate-saltitos-hover cursor-grab">T</span>ili<span class="animate-mini-saltitos-hover cursor-grab">M</span>anager</h1>
      <h2>Registro</h2>
    </div>

    <form class="form-section mt-3" method="post" (ngSubmit)="onRegister()">

      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Nombre de usuario" label-placement="floating" type="text"
                  placeholder="User1234..." class="min-h-15" [(ngModel)]="username" name="username" required>
        </ion-input>
      </ion-item>

      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Correo Electrónico" label-placement="floating" type="email"
                  placeholder="ejemplo@email.com" class="min-h-15" [(ngModel)]="email" name="email" required>
        </ion-input>
      </ion-item>

      <ion-item fill="outline" mode="md" class="mb-6">
        <ion-input label="Contraseña" label-placement="floating" type="password"
                  placeholder="********" class="min-h-15" [(ngModel)]="password" name="password" required>
        </ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" shape="round" class="h-10.5 mx-5 mt-8" >REGISTRAR</ion-button>
      <ion-note ></ion-note>

      <!-- <ion-note *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" color="danger">
        El formato del correo no es válido.
      </ion-note> -->
      
    </form>

    <div class="text-[1.1rem] ion-text-center mt-12">
      <p class="pl-5">¿Tienes cuenta? <a (click)="goToLogin()" class="pr-5 pb-2 cursor-pointer">Inicia sesión</a></p>
    </div>
    <img src="assets/img/TiliManager1.png" alt="Volver, es el Logo de TiliManager" loading="eager" 
    (click)="goToHome()" class="w-22 h-fit m-auto mt-19 mb-0 rounded-full cursor-pointer animate-saltitos-hover active:scale-90 duration-75">

  </div>
</ion-content>
